# APS106 - Fundamentals of Computer Programming
## Week 12 | Lecture 1 (12.1) - Installing third-party packages, managing environments, and Pandas

### This Week
| Lecture | Topics |
| --- | --- |
| **12.1** | **Pandas** |
| 12.2 | More Pandas, Data Visualization | 
| 12.3 | Design Problem: Stock Market, Part 1 |

### Lecture Structure
1. [csv Module](#section1)
2. [DataFrames](#section2)
3. [Series](#section3)
4. [Data Extraction](#section4)

<a id='section1'></a>
## 1.csv Module
Let's first import the `csv` module, that comes pre-installed with Python.

In [4]:
import csv

We will now import a `csv` file which contains the results from past presidential elections in the United States. This file is in the same folder as this notebook and is named `elections.csv`.

In [5]:
# Open the file
file = open('elections.csv', 'r')

# Create a csv reader object
csv_reader = csv.reader(file)

# Loop through the rows and print our the contents of each row
for row in csv_reader:
    print(row)
    
# Close file
file.close()

['Year', 'Candidate', 'Party', 'Popular vote', 'Result', '%']
['1824', 'Andrew Jackson', 'Democratic-Republican', '151271', 'loss', '57.21012204']
['1824', 'John Quincy Adams', 'Democratic-Republican', '113142', 'win', '42.78987796']
['1828', 'Andrew Jackson', 'Democratic', '642806', 'win', '56.20392707']
['1828', 'John Quincy Adams', 'National Republican', '500897', 'loss', '43.79607293']
['1832', 'Andrew Jackson', 'Democratic', '702735', 'win', '54.57478905']
['1832', 'Henry Clay', 'National Republican', '484205', 'loss', '37.6036283']
['1832', 'William Wirt', 'Anti-Masonic', '100715', 'loss', '7.821582644']
['1836', 'Hugh Lawson White', 'Whig', '146109', 'loss', '10.00598542']
['1836', 'Martin Van Buren', 'Democratic', '763291', 'win', '52.27247202']
['1836', 'William Henry Harrison', 'Whig', '550816', 'loss', '37.72154257']
['1840', 'Martin Van Buren', 'Democratic', '1128854', 'loss', '46.94878676']
['1840', 'William Henry Harrison', 'Whig', '1275583', 'win', '53.05121324']
['1844', 'Henry Clay', 'Whig', '1300004', 'loss', '49.250523']
['1844', 'James Polk', 'Democratic', '1339570', 'win', '50.749477']
['1848', 'Lewis Cass', 'Democratic', '1223460', 'loss', '42.55222948']
['1848', 'Martin Van Buren', 'Free Soil', '291501', 'loss', '10.13847404']
['1848', 'Zachary Taylor', 'Whig', '1360235', 'win', '47.30929648']
['1852', 'Franklin Pierce', 'Democratic', '1605943', 'win', '51.01316828']
['1852', 'John P. Hale', 'Free Soil', '155210', 'loss', '4.930283235']
['1852', 'Winfield Scott', 'Whig', '1386942', 'loss', '44.05654848']
['1856', 'James Buchanan', 'Democratic', '1835140', 'win', '45.30608033']
['1856', 'John C. FrÃ©mont', 'Republican', '1342345', 'loss', '33.1399187']
['1856', 'Millard Fillmore', 'American', '873053', 'loss', '21.55400097']
['1860', 'Abraham Lincoln', 'Republican', '1855993', 'win', '39.69940846']
['1860', 'John Bell', 'Constitutional Union', '590901', 'loss', '12.63928267']
['1860', 'John C. Breckinridge', 'Southern Democratic', '848019', 'loss', '18.13899765']
['1860', 'Stephen A. Douglas', 'Northern Democratic', '1380202', 'loss', '29.52231122']
['1864', 'Abraham Lincoln', 'National Union', '2211317', 'win', '54.95151243']
['1864', 'George B. McClellan', 'Democratic', '1812807', 'loss', '45.04848757']
['1868', 'Horatio Seymour', 'Democratic', '2708744', 'loss', '47.33469473']
['1868', 'Ulysses Grant', 'Republican', '3013790', 'win', '52.66530527']
['1872', 'Horace Greeley', 'Liberal Republican', '2834761', 'loss', '44.07140636']
['1872', 'Ulysses Grant', 'Republican', '3597439', 'win', '55.92859364']
['1876', 'Rutherford Hayes', 'Republican', '4034142', 'win', '48.47162359']
['1876', 'Samuel J. Tilden', 'Democratic', '4288546', 'loss', '51.52837641']
['1880', 'James B. Weaver', 'Greenback', '308649', 'loss', '3.352343585']
['1880', 'James Garfield', 'Republican', '4453337', 'win', '48.36923406']
['1880', 'Winfield Scott Hancock', 'Democratic', '4444976', 'loss', '48.27842235']
['1884', 'Benjamin Butler', 'Anti-Monopoly', '134294', 'loss', '1.335838283']
['1884', 'Grover Cleveland', 'Democratic', '4914482', 'win', '48.88493303']
['1884', 'James G. Blaine', 'Republican', '4856905', 'loss', '48.31220781']
['1884', 'John St. John', 'Prohibition', '147482', 'loss', '1.467020877']
['1888', 'Alson Streeter', 'Union Labor', '146602', 'loss', '1.288860686']
['1888', 'Benjamin Harrison', 'Republican', '5443633', 'win', '47.85804123']
['1888', 'Clinton B. Fisk', 'Prohibition', '249819', 'loss', '2.19629942']
['1888', 'Grover Cleveland', 'Democratic', '5534488', 'loss', '48.65679866']
['1892', 'Benjamin Harrison', 'Republican', '5176108', 'loss', '42.98410062']
['1892', 'Grover Cleveland', 'Democratic', '5553898', 'win', '46.12139284']
['1892', 'James B. Weaver', 'Populist', '1041028', 'loss', '8.645038376']
['1892', 'John Bidwell', 'Prohibition', '270879', 'loss', '2.24946817']
['1896', 'John M. Palmer', 'National Democratic', '134645', 'loss', '0.969565599']
['1896', 'Joshua Levering', 'Prohibition', '131312', 'loss', '0.945564989']
['1896', 'William Jennings Bryan', 'Democratic', '6509052', 'loss', '46.87105278']
['1896', 'William McKinley', 'Republican', '7112138', 'win', '51.21381663']
['1900', 'John G. Woolley', 'Prohibition', '210864', 'loss', '1.526820586']
['1900', 'William Jennings Bryan', 'Democratic', '6370932', 'loss', '46.13053974']
['1900', 'William McKinley', 'Republican', '7228864', 'win', '52.34263967']
['1904', 'Alton B. Parker', 'Democratic', '5083880', 'loss', '37.68511564']
['1904', 'Eugene V. Debs', 'Socialist', '402810', 'loss', '2.98589688']
['1904', 'Silas C. Swallow', 'Prohibition', '259102', 'loss', '1.920637157']
['1904', 'Theodore Roosevelt', 'Republican', '7630557', 'win', '56.56278726']
['1904', 'Thomas E. Watson', 'Populist', '114070', 'loss', '0.845563062']
['1908', 'Eugene V. Debs', 'Socialist', '420852', 'loss', '2.85086565']
['1908', 'Eugene W. Chafin', 'Prohibition', '254087', 'loss', '1.721193913']
['1908', 'William Jennings Bryan', 'Democratic', '6408979', 'loss', '43.41464003']
['1908', 'William Taft', 'Republican', '7678335', 'win', '52.01330041']
['1912', 'Eugene V. Debs', 'Socialist', '901551', 'loss', '6.004354059']
['1912', 'Eugene W. Chafin', 'Prohibition', '208156', 'loss', '1.386324593']
['1912', 'Theodore Roosevelt', 'Progressive', '4122721', 'loss', '27.45743344']
['1912', 'William Taft', 'Republican', '3486242', 'loss', '23.21846607']
['1912', 'Woodrow Wilson', 'Democratic', '6296284', 'win', '41.93342184']
['1916', 'Allan L. Benson', 'Socialist', '590524', 'loss', '3.194193328']
['1916', 'Charles Evans Hughes', 'Republican', '8548728', 'loss', '46.24077927']
['1916', 'Frank Hanly', 'Prohibition', '221302', 'loss', '1.197040885']
['1916', 'Woodrow Wilson', 'Democratic', '9126868', 'win', '49.36798652']
['1920', 'Aaron S. Watkins', 'Prohibition', '188787', 'loss', '0.708350618']
['1920', 'Eugene V. Debs', 'Socialist', '913693', 'loss', '3.428281615']
['1920', 'James M. Cox', 'Democratic', '9139661', 'loss', '34.29306318']
['1920', 'Parley P. Christensen', 'Farmerâ€“Labor', '265398', 'loss', '0.995803934']
['1920', 'Warren Harding', 'Republican', '16144093', 'win', '60.57450065']
['1924', 'Calvin Coolidge', 'Republican', '15723789', 'win', '54.329113']
['1924', 'John W. Davis', 'Democratic', '8386242', 'loss', '28.97629123']
['1924', 'Robert La Follette', 'Progressive', '4831706', 'loss', '16.69459577']
['1928', 'Al Smith', 'Democratic', '15015464', 'loss', '40.90285321']
['1928', 'Herbert Hoover', 'Republican', '21427123', 'win', '58.36852373']
['1928', 'Norman Thomas', 'Socialist', '267478', 'loss', '0.728623063']
['1932', 'Franklin Roosevelt', 'Democratic', '22821277', 'win', '57.67212542']
['1932', 'Herbert Hoover', 'Republican', '15761254', 'loss', '39.83059395']
['1932', 'Norman Thomas', 'Socialist', '884885', 'loss', '2.236211353']
['1932', 'William Z. Foster', 'Communist', '103307', 'loss', '0.261069276']
['1936', 'Alf Landon', 'Republican', '16679543', 'loss', '36.64828497']
['1936', 'Franklin Roosevelt', 'Democratic', '27752648', 'win', '60.97810669']
['1936', 'Norman Thomas', 'Socialist', '187910', 'loss', '0.412875774']
['1936', 'William Lemke', 'Union', '892378', 'loss', '1.960732572']
['1940', 'Franklin Roosevelt', 'Democratic', '27313945', 'win', '54.87120208']
['1940', 'Norman Thomas', 'Socialist', '116599', 'loss', '0.234236662']
['1940', 'Wendell Willkie', 'Republican', '22347744', 'loss', '44.89456126']
['1944', 'Franklin Roosevelt', 'Democratic', '25612916', 'win', '53.77380141']
['1944', 'Thomas E. Dewey', 'Republican', '22017929', 'loss', '46.22619859']
['1948', 'Claude A. Watson', 'Prohibition', '103708', 'loss', '0.212746692']
['1948', 'Harry Truman', 'Democratic', '24179347', 'win', '49.60153588']
['1948', 'Henry A. Wallace', 'Progressive', '1157328', 'loss', '2.374143781']
['1948', 'Norman Thomas', 'Socialist', '139569', 'loss', '0.286311982']
['1948', 'Strom Thurmond', 'Dixiecrat', '1175930', 'loss', '2.412303942']
['1948', 'Thomas E. Dewey', 'Republican', '21991292', 'loss', '45.11295773']
['1952', 'Adlai Stevenson', 'Democratic', '27375090', 'loss', '44.44631159']
['1952', 'Dwight Eisenhower', 'Republican', '34075529', 'win', '55.32517261']
['1952', 'Vincent Hallinan', 'Progressive', '140746', 'loss', '0.228515799']
['1956', 'Adlai Stevenson', 'Democratic', '26028028', 'loss', '42.17446362']
['1956', 'Dwight Eisenhower', 'Republican', '35579180', 'win', '57.65065384']
['1956', 'T. Coleman Andrews', "States' Rights", '107929', 'loss', '0.174882541']
['1960', 'John Kennedy', 'Democratic', '34220984', 'win', '50.08256141']
['1960', 'Richard Nixon', 'Republican', '34108157', 'loss', '49.91743859']
['1964', 'Barry Goldwater', 'Republican', '27175754', 'loss', '38.65529671']
['1964', 'Lyndon Johnson', 'Democratic', '43127041', 'win', '61.34470329']
['1968', 'George Wallace', 'American Independent', '9901118', 'loss', '13.57121768']
['1968', 'Hubert Humphrey', 'Democratic', '31271839', 'loss', '42.86353667']
['1968', 'Richard Nixon', 'Republican', '31783783', 'win', '43.56524565']
['1972', 'George McGovern', 'Democratic', '29173222', 'loss', '37.67067048']
['1972', 'John G. Schmitz', 'American Independent', '1100868', 'loss', '1.421524015']
['1972', 'Richard Nixon', 'Republican', '47168710', 'win', '60.9078055']
['1976', 'Eugene McCarthy', 'Independent', '740460', 'loss', '0.911648689']
['1976', 'Gerald Ford', 'Republican', '39148634', 'loss', '48.19949876']
['1976', 'Jimmy Carter', 'Democratic', '40831881', 'win', '50.2718996']
['1976', 'Lester Maddox', 'American Independent', '170274', 'loss', '0.209640047']
['1976', 'Roger MacBride', 'Libertarian', '172557', 'loss', '0.212450859']
['1976', 'Thomas J. Anderson', 'American', '158271', 'loss', '0.194862045']
['1980', 'Barry Commoner', 'Citizens', '233052', 'loss', '0.270182115']
['1980', 'Ed Clark', 'Libertarian', '921128', 'loss', '1.067883181']
['1980', 'Jimmy Carter', 'Democratic', '35480115', 'loss', '41.13284806']
['1980', 'John B. Anderson', 'Independent', '5719850', 'loss', '6.631143134']
['1980', 'Ronald Reagan', 'Republican', '43903230', 'win', '50.89794351']
['1984', 'David Bergland', 'Libertarian', '228111', 'loss', '0.247245489']
['1984', 'Ronald Reagan', 'Republican', '54455472', 'win', '59.02332553']
['1984', 'Walter Mondale', 'Democratic', '37577352', 'loss', '40.72942898']
['1988', 'George H. W. Bush', 'Republican', '48886597', 'win', '53.5188446']
['1988', 'Lenora Fulani', 'New Alliance', '217221', 'loss', '0.237803767']
['1988', 'Michael Dukakis', 'Democratic', '41809074', 'loss', '45.77069118']
['1988', 'Ron Paul', 'Libertarian', '431750', 'loss', '0.472660454']
['1992', 'Andre Marrou', 'Libertarian', '290087', 'loss', '0.278516275']
['1992', 'Bill Clinton', 'Democratic', '44909806', 'win', '43.11848477']
['1992', 'Bo Gritz', 'Populist', '106152', 'loss', '0.101917906']
['1992', 'George H. W. Bush', 'Republican', '39104550', 'loss', '37.54478351']
['1992', 'Ross Perot', 'Independent', '19743821', 'loss', '18.95629754']
['1996', 'Bill Clinton', 'Democratic', '47400125', 'win', '49.29693808']
['1996', 'Bob Dole', 'Republican', '39197469', 'loss', '40.766036']
['1996', 'Harry Browne', 'Libertarian', '485759', 'loss', '0.505197641']
['1996', 'Howard Phillips', 'Taxpayers', '184656', 'loss', '0.192045388']
['1996', 'John Hagelin', 'Natural Law', '113670', 'loss', '0.118218738']
['1996', 'Ralph Nader', 'Green', '685297', 'loss', '0.712720563']
['1996', 'Ross Perot', 'Reform', '8085294', 'loss', '8.408843598']
['2000', 'Al Gore', 'Democratic', '50999897', 'loss', '48.49181314']
['2000', 'George W. Bush', 'Republican', '50456002', 'win', '47.97466592']
['2000', 'Harry Browne', 'Libertarian', '384431', 'loss', '0.36552537']
['2000', 'Pat Buchanan', 'Reform', '448895', 'loss', '0.426819146']
['2000', 'Ralph Nader', 'Green', '2882955', 'loss', '2.741176421']
['2004', 'David Cobb', 'Green', '119859', 'loss', '0.098088334']
['2004', 'George W. Bush', 'Republican', '62040610', 'win', '50.77182439']
['2004', 'John Kerry', 'Democratic', '59028444', 'loss', '48.30677508']
['2004', 'Michael Badnarik', 'Libertarian', '397265', 'loss', '0.325107519']
['2004', 'Michael Peroutka', 'Constitution', '143630', 'loss', '0.117541674']
['2004', 'Ralph Nader', 'Independent', '465151', 'loss', '0.380663003']
['2008', 'Barack Obama', 'Democratic', '69498516', 'win', '53.02350971']
['2008', 'Bob Barr', 'Libertarian', '523715', 'loss', '0.399565473']
['2008', 'Chuck Baldwin', 'Constitution', '199750', 'loss', '0.152398162']
['2008', 'Cynthia McKinney', 'Green', '161797', 'loss', '0.123442129']
['2008', 'John McCain', 'Republican', '59948323', 'loss', '45.7372426']
['2008', 'Ralph Nader', 'Independent', '739034', 'loss', '0.563841917']
['2012', 'Barack Obama', 'Democratic', '65915795', 'win', '51.25848423']
['2012', 'Gary Johnson', 'Libertarian', '1275971', 'loss', '0.992240773']
['2012', 'Jill Stein', 'Green', '469627', 'loss', '0.365198784']
['2012', 'Mitt Romney', 'Republican', '60933504', 'loss', '47.38407621']
['2016', 'Darrell Castle', 'Constitution', '203091', 'loss', '0.149639515']
['2016', 'Donald Trump', 'Republican', '62984828', 'win', '46.40786214']
['2016', 'Evan McMullin', 'Independent', '732273', 'loss', '0.539546197']
['2016', 'Gary Johnson', 'Libertarian', '4489235', 'loss', '3.307714026']
['2016', 'Hillary Clinton', 'Democratic', '65853514', 'loss', '48.52153918']
['2016', 'Jill Stein', 'Green', '1457226', 'loss', '1.073698944']
['2020', 'Joseph Biden', 'Democratic', '81268924', 'win', '51.3115152']
['2020', 'Donald Trump', 'Republican', '74216154', 'loss', '46.8585423']
['2020', 'Jo Jorgensen', 'Libertarian', '1865724', 'loss', '1.1779795']
['2020', 'Howard Hawkins', 'Green', '405035', 'loss', '0.25573071']

For, let's say that we're asked to print the name of the candidate with the lowest popular vote percentage (%) in the year 1996 election. The following code is how we could do this using the pure Python and the `csv` module.

In [6]:
file = open('elections.csv', 'r')
csv_reader = csv.reader(file)

row_count = 0
name = None
popular_vote = 100

for row in csv_reader:
    
    if row_count > 0:
        
        # row[0] is the column "Year"
        if row[0] == '1996':    
            
            # row[5] is the column "%"
            if float(row[5]) < popular_vote:
                popular_vote = float(row[5])
                
                # row[1] is the column "Candidate"
                name = row[1]
   
    row_count += 1
    
print('Candidate', name, 'had the lowest popular vote in 1996, which was', popular_vote, '%.')
    
file.close()

Candidate John Hagelin had the lowest popular vote in 1996, which was 0.118218738 %.

The `csv` module allowed us to get the desired output but the code has some limitations. For starts, its a lot of code a fairly simple query. Additionally, we are accessing the columns by an indect, which makes the code challenging to interpreted and potentially prone to error. Lastly, all the data is imported as strings, which means we must convert to a numeric data type for certain columns.

In this lecture we will introduce the `Pandas` library, which is the standard in academia and industry for working with tabular data in Python. 

If you're using Anaconda, this package will likley be installed in your `(base)` environment but if not, you can run this code in a notebook cell to install.

```python

!pip install pandas
```

First, let's import `Pandas` and give it the name `pd`.

In [7]:
import pandas as pd

Now, lets try to code some code to accomplish the above task.

Let's first load the `csv` file and print the first 5 rows.

In [8]:
elections = pd.read_csv('elections.csv')
elections.head()

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

For starters, this is a much nicer view for getting a quick snap shot of our dataset.

But what data type is `elections`?

In [9]:
print(type(elections))

<class 'pandas.core.frame.DataFrame'>

Hmmmm.... what is a `DataFrame`? More on this later.

Now, let's try to find the 1996 candidate with the lowest popular vote %.

In [10]:
worse_candidate = elections[elections['Year'] == 1996].sort_values('%', ascending=True).iloc[0]
print(worse_candidate)

Year                    1996
Candidate       John Hagelin
Party            Natural Law
Popular vote          113670
Result                  loss
%                   0.118219
Name: 148, dtype: object

And what data type is `worse_candidate`?

In [11]:
print(type(worse_candidate))

<class 'pandas.core.series.Series'>

Hmmmm.... what is a `Series`? More on this later.

Now, let's print out the results as we did with the prvious example.

In [12]:
print('Candidate', worse_candidate['Candidate'], 'had the lowest popular vote in 1996, which was', worse_candidate['%'], '%.')

Candidate John Hagelin had the lowest popular vote in 1996, which was 0.118218738 %.

So, how did we do? Well, we have reduced our code from 14 lines to 3. We are accessing columns by their name, not their position. Lastly, the data has been imported and automatically converted to the most likely data type. As you can see below, `'Candidate'` is a `string` and `'%'` is a `float`.

In [13]:
elections.dtypes

Year              int64
Candidate        object
Party            object
Popular vote      int64
Result           object
%               float64
dtype: object

Note: `object` is a `string` and `dtypes` is a `DataFrame` attribute, which outputs a `Series` showing the name of which column and the corresponding data type.

Now, let's learn how this `Pandas` library works.

<a id='section2'></a>
## 2. DataFrames
A `DataFrame` is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table. `DataFrames` were first introduced in the [**R Programming Language**](https://www.r-project.org/) and are generally the most commonly used pandas object. **Pandas** is the most popular Python package for working with `DataFrames`.
<br>
<img src="images/dataframe_overview.png" alt="drawing" width="850"/>
<br>

In this lecture, we will see how a `DataFrame` can be created from scratch or loaded from a file.

### How to Create a `DataFrame`
We can also create a `DataFrame` in a variety of ways. Here, we cover the following:

1. From a CSV file
1. Using a list and column names
1. From a dictionary

#### Creating a `DataFrame` from a CSV file
For loading data into a `DataFrame`, `pandas` has a number of very useful file reading tools. We'll be using `read_csv` today to load data from a CSV file into a `DataFrame` object.

In [49]:
elections = pd.read_csv("elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

Because we did not specify a column which should be used as the `index`, `pandas` creates a default index for us. The default index starts and zero and increses by 1 (`0, 1, 2, 3, 4, ...`).

#### Creating a `DataFrame` using a list and column names
You can create a `DataFrame` using a two lists. One list will contain the column names as seen below.

In [50]:
columns = ['Salary', 'Job Title']

The other list will contain the data. Each sub list represents a row and the number of items in the sub list must be the equal to the number of items in the `columns` list.

In [51]:
data = [
    [110000, 'Professor'],
    [90000, 'Developer'],
    [130000, 'Electrician']
]

We can then use the pd.DataFrame constructor by passing the columns list to the `columns` parameter and the data list to the `data` parameter.

In [52]:
salaries = pd.DataFrame(data=data, columns=columns)
salaries

   Salary    Job Title
0  110000    Professor
1   90000    Developer
2  130000  Electrician

Because we did pass an argument to the `index` parameter, `pandas` creates a default index for us. I could use a custom `index` as follows.

In [53]:
salaries = pd.DataFrame(index=[10, 12, 20], data=data, columns=columns)
salaries

    Salary    Job Title
10  110000    Professor
12   90000    Developer
20  130000  Electrician

#### Creating a `DataFrame` from a dictionary
You can create a `DataFrame` using a dictrionary where the keys are the column names and the values are lists. The length of each list must be the same.

In [54]:
df_dict_1 = pd.DataFrame({"Fruit":["Strawberry", "Orange", "Banana"], 
                          "Price":[5.49, 3.99, 9.99]})
df_dict_1

        Fruit  Price
0  Strawberry   5.49
1      Orange   3.99
2      Banana   9.99

Notice how the `"Fruit"` list and the `"Price"` list have the same number of items in them (3).

You can also create a `DataFrame` using a list of dictionaries where each dictionary holes the data for a given row.

In [55]:
df_dict_2 = pd.DataFrame([{"Fruit": "Strawberry", "Price": 5.49}, 
                          {"Fruit": "Orange", "Price": 3.99},
                          {"Fruit": "Banana", "Price": 9.99}])
df_dict_2

        Fruit  Price
0  Strawberry   5.49
1      Orange   3.99
2      Banana   9.99

### `DataFrame` attributes: `index`, `columns`,`shape`
The figure below displays the different components of a DataFrame, which include: `indices`, `columns`, `axes` (more on these later), and `Series`.
<br>
<img src="images/DataFrame.png" alt="drawing" width="450"/>
<br>
Let's check out our `elections` `DataFrame` again.

In [56]:
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

### `index`
The `index` can be thought of as row labels. They can be numeric but they do not have to be. They could also be strings or datetimes, for example. If the `index` of a DataFrame is numeric, id does not have to be for the form `0, 1, 2, 3, 4, ...`.

#### `index` as a monotonic sequence of integers
The example below for `electinos` is likely the expected behaviour when thinking about row indices of a data table.

In [57]:
elections.index

RangeIndex(start=0, stop=182, step=1)

`index` returns a `RangeIndex()` object, which shows the start, end and step size of the row indices. `RangeIndex` is a memory-saving object used for representing monotonic ranges. This is similar to how we represent a sequence of integer using the `range` function in Python. For example, `range(0, 182, 1)`.

#### Converting a column into the index
Sometimes, its advantageous to set a column in your DataFrame as the index. Consider our `elections` `DataFrame` again.

In [58]:
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

We can set the `"Year"` column as the index.

In [59]:
elections = elections.set_index('Year')
elections

              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878
1828     Andrew Jackson             Democratic        642806    win  56.203927
1828  John Quincy Adams    National Republican        500897   loss  43.796073
1832     Andrew Jackson             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
2016         Jill Stein                  Green       1457226   loss   1.073699
2020       Joseph Biden             Democratic      81268924    win  51.311515
2020       Donald Trump             Republican      74216154   loss  46.858542
2020       Jo Jorgensen            Libertarian       1865724   loss   1.177979
2020     Howard Hawkins                  Green        405035   loss   0.255731

[182 rows x 5 columns]

And we can reset the `index` using a monotonic range.

In [60]:
elections = elections.reset_index()
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

#### `index` as an array of numeric values
Let's go back to `"Year"` being the `index`.

In [61]:
elections = elections.set_index('Year')
elections

              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878
1828     Andrew Jackson             Democratic        642806    win  56.203927
1828  John Quincy Adams    National Republican        500897   loss  43.796073
1832     Andrew Jackson             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
2016         Jill Stein                  Green       1457226   loss   1.073699
2020       Joseph Biden             Democratic      81268924    win  51.311515
2020       Donald Trump             Republican      74216154   loss  46.858542
2020       Jo Jorgensen            Libertarian       1865724   loss   1.177979
2020     Howard Hawkins                  Green        405035   loss   0.255731

[182 rows x 5 columns]

One important property of `index` is that these row labels do not have to be unique, which probably seems counterintuitive. As we can see from the example above, there is more than one row with the index `2020`.

Because the index is not longer a monotonic range, the `RangeIndex()` object can no longer be used to represent it.

In [62]:
elections.index

Index([1824, 1824, 1828, 1828, 1832, 1832, 1832, 1836, 1836, 1836,
       ...
       2016, 2016, 2016, 2016, 2016, 2016, 2020, 2020, 2020, 2020],
      dtype='int64', name='Year', length=182)

Instead, we get a list of index values.

#### `index` as an array of non-numeric values
In the example below, you can see that we can also create an `index` using non-numeric data.

In [64]:
elections = elections.reset_index()
elections = elections.set_index('Candidate')
elections

                   Year                  Party  Popular vote Result          %
Candidate
Andrew Jackson     1824  Democratic-Republican        151271   loss  57.210122
John Quincy Adams  1824  Democratic-Republican        113142    win  42.789878
Andrew Jackson     1828             Democratic        642806    win  56.203927
John Quincy Adams  1828    National Republican        500897   loss  43.796073
Andrew Jackson     1832             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
Jill Stein         2016                  Green       1457226   loss   1.073699
Joseph Biden       2020             Democratic      81268924    win  51.311515
Donald Trump       2020             Republican      74216154   loss  46.858542
Jo Jorgensen       2020            Libertarian       1865724   loss   1.177979
Howard Hawkins     2020                  Green        405035   loss   0.255731

[182 rows x 5 columns]

In [67]:
elections = elections.reset_index()

### `columns`
`columns` are column labels in the same way the `indices` are row labels. We can get a list of `column` names using the following code.

In [68]:
elections.columns

Index(['Candidate', 'Year', 'Party', 'Popular vote', 'Result', '%'], dtype='object')

One special characteristic of `columns` is that they must be unique. See what happens when we try to make a `DataFrame` with all columns of the same name.

In [71]:
df_dict_3 = pd.DataFrame({"Fruit":["Strawberry", "Orange", "Banana"], 
                          "Fruit":[0, 1, 2],
                          "Fruit":['a', 'b', 'c']})
df_dict_3

  Fruit
0     a
1     b
2     c

You can see that only one `column` is added to the `DataFrame` and the `data` is from the last item in the dictionary.

### `shape`
`shape` is a `tuple` where the first item is the number of rows and the second item is the number of columns.

In [73]:
elections

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073
4,Andrew Jackson,1832,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,Jill Stein,2016,Green,1457226,loss,1.073699
178,Joseph Biden,2020,Democratic,81268924,win,51.311515
179,Donald Trump,2020,Republican,74216154,loss,46.858542
180,Jo Jorgensen,2020,Libertarian,1865724,loss,1.177979
181,Howard Hawkins,2020,Green,405035,loss,0.255731

In [75]:
elections.shape

(182, 6)

In [76]:
df_dict_2 = pd.DataFrame([{"Fruit": "Strawberry", "Price": 5.49}, 
                          {"Fruit": "Orange", "Price": 3.99},
                          {"Fruit": "Banana", "Price": 9.99}])
df_dict_2

        Fruit  Price
0  Strawberry   5.49
1      Orange   3.99
2      Banana   9.99

In [77]:
df_dict_2.shape

(3, 2)

<a id='section4'></a>
## 4. Breakout Session 1
Given the data below, create a `DataFrame` with the columns `phone_number`, `job`, and `years`. The index should be `"name"` with the data coming from `data1`. There should be 4 rows in the `DataFrame`.

In [87]:
data1 = {'name': ['John', 'Susan', 'Omid', 'Ava']}
data2 = {'phone_number': ['234-5678', '123-4567', '111-4444', '456-0987']}
data3 = {'job': ['Pizza Delivery', 'Teacher', 'Chemist', 'Coder']}
data4 = {'years_of_experience': [10, 2, 5, 8]}

# Write your code here
data1.update(data2)
data1.update(data3)
data1.update(data4)
df1 = pd.DataFrame(data1)
df1 = df1.set_index('name')

# Display DataFrame
df1

      phone_number             job  years_of_experience
name
John      234-5678  Pizza Delivery                   10
Susan     123-4567         Teacher                    2
Omid      111-4444         Chemist                    5
Ava       456-0987           Coder                    8

<a id='section3'></a>
## 3. Series
A `Series` is a 1-D labelled array of data. We can think of it as a column of data like you may have seen in an excel spreadsheet.

### Creating a new `Series` object
Below, we create a `Series` object.

In [13]:
my_series = pd.Series(["welcome", "to", "APS106"])
print(my_series)

0    welcome
1         to
2     APS106
dtype: object

Because we imported `Pandas` using this code: `import pandas as pd`, anytime we want to use a module or function or class from the `Pandas` library, we must preface it with the alias we used during import, which was `pd`.

```python
pd.module_or_function_or_class_name()
pd.Series()
pd.DataFrame()
```

If we just did this:
```python
Series()
DataFrame()
```

We would get an error. Don't believe me? Let's try it out.

In [14]:
my_series = Series(["welcome", "to", "APS106"])
print(my_series)

NameError: name 'Series' is not defined

Ok, back to the correct code.

In [15]:
my_series = pd.Series(["welcome", "to", "APS106"])
print(my_series)

0    welcome
1         to
2     APS106
dtype: object

Series have three main components, `index`, `name`, `data` (also refered to as `values`) as you can see in the diagram below. As you can see, `DataFrames` are collections of `Series`. Therefore, a helpful way to think of a `Series` is as a column from a table of data, like and Excel sheet.

<img src="images/Pandas_Series.png" width="600" style="margin:auto"/>


So, for our new `Series` `my_series`, let's check out these attributes (`index`, `name`, `data`).

**name**

In [6]:
print(my_series.name)

None

We never gave our `Series` a name, so by default, its `None`.

**data (values)**

In [7]:
print(my_series.values)

['welcome' 'to' 'APS106']

We passed this data to our `Series` constructor (`my_series = pd.Series(["welcome", "to", "APS106"])`).

**index**

In [15]:
print(my_series.index)

RangeIndex(start=0, stop=3, step=1)

In the example above, `Pandas` automatically generated an `Index` of integer labels. The first item in the `Series` has `index = 0`, the second item has `index = 1` and so on. We can also create a `Series` object by providing a custom Index. In the case of our example, rather than the index being a long list of monotonically increasing integers, `Pandas` has created a `RangeIndex` object to represent the same information in a simpler and more compact format. `RangeIndex(start=0, stop=3, step=1)` is the same as `[0, 1, 2]` but in the case where you have millions of items in your `Series`, its much more efficient. This should look familiar to you given `RangeIndex(start=0, stop=3, step=1)` would be very similar to `range(0, 3, 1)` that we learned in **Week 6**. 

Here is an example where we are specifying an `index`, `data`, and `name` when we create a new `Series`.

In [16]:
my_series = pd.Series(data=[20000, 21000, 100000, 88000, 101000], 
                      index=["Seb", "Ben", "Katia", "Joseph", "Tamara"], 
                      name="salary")
print(my_series)

Seb        20000
Ben        21000
Katia     100000
Joseph     88000
Tamara    101000
Name: salary, dtype: int64

We can see all the `Series` information in the print-out and we can also see it by using the attributes below.

In [10]:
print(my_series.name)
print(my_series.values)
print(my_series.index)

salary
[ 20000  21000 100000  88000 101000]
Index(['Seb', 'Ben', 'Katia', 'Joseph', 'Tamara'], dtype='object')

Now, because our index is no longer monotonically increasing integers (e.g. [0, 2, 4, 6, 8]), you can see that the `RangeIndex` object is no longer able to be used to represent the `index`. For this example, the `index` is simply a list of the index values `["Seb", "Ben", "Katia", "Joseph", "Tamara"]`.

**Note:** The idea of having of having non-numeric indices is new and a bit strange. We'll get into this more shortly.

After a `Series` has been created, we can reassign the `Index` of a `Series` to a new `Index`.

In [11]:
my_series.index = ['Goodfellow', 'Kinsella', 'Ossetchkina', 'Sebastian', 'Kecman']
print(my_series)

Goodfellow      20000
Kinsella        21000
Ossetchkina    100000
Sebastian       88000
Kecman         101000
Name: salary, dtype: int64

We can also do this for `name`.

In [12]:
my_series.name = 'income'
print(my_series)

Goodfellow      20000
Kinsella        21000
Ossetchkina    100000
Sebastian       88000
Kecman         101000
Name: income, dtype: int64

But not for `data (values)`.

In [13]:
my_series.values = [0, 0, 0, 0, 0]
print(my_series)

AttributeError: can't set attribute 'values'

More on how to update column data when we get to `DataFrames`.

#### Selecting items in a `Series`
We can select a single value or a set of values in a `Series` using:
- A single label
- A list of labels
- A filtering conditionon

In [14]:
my_series = pd.Series(data=[20000, 21000, 100000, 88000, 101000], 
                      index=["Seb", "Ben", "Katia", "Joseph", "Tamara"], 
                      name="salary")
print(my_series)

Seb        20000
Ben        21000
Katia     100000
Joseph     88000
Tamara    101000
Name: salary, dtype: int64

**Selection using one label**

In [15]:
my_series['Seb']

20000

Notice how the return value is a single array element.

**Selection using multiple labels**

In [18]:
my_series[['Seb', 'Tamara']]

Seb        20000
Tamara    101000
Name: salary, dtype: int64

Notice how the return value is another `Series` with two items in it.

In [19]:
type(my_series[['Seb', 'Tamara']])

pandas.core.series.Series

**Selection using a filter condition**

Filter condition: select all elements greater than 50,000.

In [21]:
print(my_series > 50000)

Seb       False
Ben       False
Katia      True
Joseph     True
Tamara     True
Name: salary, dtype: bool

What we get back is a `Series` of booleans. `True` if the data is > 50,000 and `False` if the data is <= 50,000.

We can use this boolean `Series` to filter our original `Series` to only have data with values > 50,000.

In [22]:
print(my_series[my_series > 50000])

Katia     100000
Joseph     88000
Tamara    101000
Name: salary, dtype: int64

You could also make up your own list of booleans. Also long as this list has an many booleans in it as there are items in the `Series`, you can use it in the following way.

In [17]:
print(my_series[[True, True, False, False, False]])

Seb    20000
Ben    21000
Name: salary, dtype: int64

#### Looping over a `Series`
We can loop over the values in a `Series` as follows.

In [28]:
for item in my_series:
    print(item)

20000
21000
100000
88000
101000

Or, we could loop through the indices and then use them to access the values.

In [18]:
for index in my_series.index:
    print(index, my_series[index])

Seb 20000
Ben 21000
Katia 100000
Joseph 88000
Tamara 101000

<a id='section4'></a>
## 4. Data Extraction
A `Series` is a 1-D labelled array of data. We can think of it as a column of data like you may have seen in an excel spreadsheet.