# APS106 - Fundamentals of Computer Programming
## Week 8 | Lecture 1 (8.1) - tuples and sets

### This Week
| Lecture | Topics | Reading |
| --- | --- | --- | 
| **8.1** | **tuples and sets** | **Section 11** |
| 8.2 | dictionaries | Section 11  |
| 8.3 | Midterm 2 Review `#jeopardy` | | 

### Lecture Structure
1. [Tuples](#section1)
2. [Tuples Are Immutable](#section2)
3. [Breakout Session 1](#section3)
4. [Unpacking Tuples](#section4)
5. [Tuples as return Values](#section5)
6. [Breakout Session 2](#section6)
7. [Sets](#section7)

<a id='section1'></a>
## 1. Tuples
### Tuple Assignment

In [97]:
nums = 1, 2, 3, 4, 5, 6
print(nums, type(nums))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [98]:
nums = (1, 2, 3, 4, 5, 6)
print(nums, type(nums))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

So, the parentheses are optional but to avoid confusion, it is best to use them.

There are however, some cases where you must use parentheses.

In [99]:
name = 'Sebastian'
age = 36
phone_number = '555-6283'
print(name, age, phone_number)

Sebastian 36 555-6283

The `print()` function inperprets this as 3 separate variables. So, if we want to print a `tuple` we need to include the parentheses.

In [100]:
print((name, age, phone_number))

('Sebastian', 36, '555-6283')

A tuple with a single element is written as `(x,)` to not be confused with arithmetic operations such as `(4 + 7)`.

In [101]:
x = (1)
print(x, type(x))

1 <class 'int'>

In [102]:
y = (1,)
print(y, type(y))

(1,) <class 'tuple'>

In [103]:
z = (4+7)
print(z, type(z))

11 <class 'int'>

In [104]:
w = (4+7,)
print(w, type(w))

(11,) <class 'tuple'>

### Tuple Operations

For your reference, here are some common sequence operators that work with `tuples`.

| Operation | Result |
| --- | --- | 
| `x in s` | `True` if an item of *s* is equal to *x*, else `False` |
| `x not in s` | `False` if an item of *s* is equal to *x*, else `True` |
| `s + t` | the concatenation of *s* and *t* |
| `s * n or n * s` | equivalent to adding *s* to itself *n* times |
| `s[i]` | ith item of *s*, origin 0 |
| `s[i:j]` | slice of *s* from *i* to *j* |
| `s[i:j:k]` | slice of *s* from *i* to *j* with step *k* |
| `len(s)` | length of *s* |
| `min(s)` | smallest item of *s* |
| `max(s)` | largest item of *s* |
| `s.index(x[, i[, j]])` | index of the first occurrence of *x* in *s* (at or after index *i* and before index *j*) |
| `s.count(x)` | total number of occurrences of *x* in *s* |

In [105]:
nums = (1, 2, 3, 4, 5, 6, 2)
print(nums)

(1, 2, 3, 4, 5, 6, 2)

Because `tuples` are ordered sequence of data, we can use index operators.

In [106]:
print(nums[0])

1

In [107]:
print(nums[-1])

2

In [108]:
print(nums[0:-1:2])

(1, 3, 5)

In [109]:
print(max(nums))

6

In [110]:
print(len(nums))

7

In [112]:
print(nums.count(20))

0

Another example using the members of [The Beatles](https://www.youtube.com/watch?v=NCtzkaL2t_Y).

In [113]:
beatles = ("john", "paul", "george", "ringo")
print(beatles)
print(beatles[-1])

('john', 'paul', 'george', 'ringo')
ringo

In [114]:
'sebastian' in beatles

False

Using a `for` loops with `tuples`.

In [115]:
for name in beatles:
    print(name)

john
paul
george
ringo

And using `range`.

In [116]:
for i in range(len(beatles)):
    print(beatles[i])

john
paul
george
ringo

Adding `tuples`.

In [118]:
(int('10'), "paul", "george", "ringo") + ("sebastian",)

('john', 'paul', 'george', 'ringo', 'sebastian')

Multiplying `tuples`.

In [120]:
("sebastian", "paul") + ("sebastian", "paul") + ("sebastian", "paul") + ("sebastian", "paul") + ("sebastian", "paul")

('sebastian',
 'paul',
 'sebastian',
 'paul',
 'sebastian',
 'paul',
 'sebastian',
 'paul',
 'sebastian',
 'paul')

### Tuple Items
`tuple` elements may be of any type. `int`, `str`, `float`, `list`, `tuple`, etc.

In [121]:
subjects = ('bio', 'cs', 'math', 'history')

numbers = (1, 2, 3, 4, 5, 6, 7)

albums = (("Abbey Road", 1969), ("Let It Be", 1970))

Tuples can also contain elements of more than one type.

In [ ]:
street_address = (164, 'College St.')

record = ('Smith', 'John', (6, 23, 68), ['345-2345', '985-242'])

<a id='section2'></a>
## 2. Tuples Are Immutable

In [122]:
album_1 = ("Sgt. Pepper's Lonely Hearts Club Band", 1967)
album_2 = ("Magical Mystery Tour", 1967)
album_3 = ("The Beatles ('The White Album')", 1968)
album_4 = ("Yellow Submarine", 1969)
album_5 = ("Abbey Road", 1969)
album_6 = ("Let It Be", 1970)

In [123]:
print(album_6)

('Let It Be', 1970)

Now, let's say I want to change the date of `"Let It Be"` to 1969.

In [124]:
album_6[1] = 1969

TypeError: 'tuple' object does not support item assignment

In [125]:
seb = 'Seb'
seb[0] = 's'

TypeError: 'str' object does not support item assignment

Let's convert `album_6` to a list and then try to change the release date to 1969.

In [126]:
album_6_list = list(album_6)
print(album_6_list)

['Let It Be', 1970]

In [127]:
album_6_list[1] = 1969
print(album_6_list)

['Let It Be', 1969]

Consider why a `tuple` is better than a `list` for this example. The Beatles album Let It Be was released in 1970. This will never change so by using a `tuple` we protect against any bugs in our code that might unintentionally change the date.

Let's revist some common `list` methods.

| Method | Result |
| --- | --- | 
| `append()` | dds an element at the end of the list |
| `clear()` | Removes all the elements from the list |
| `copy()` | Returns a copy of the list |
| `count()` | Returns the number of elements with the specified value |
| `extend()` | Add the elements of a list (or any iterable), to the end of the current list |
| `index()` | Returns the index of the first element with the specified value |
| `insert()` | Adds an element at the specified position |
| `pop()` | Removes the element at the specified position |
| `remove()` | Removes the first item with the specified value |
| `reverse()` | Reverses the order of the list |
| `sort()` | Sorts the list |

Now, let's look at `tuple` methods.

| Method | Result |
| --- | --- | 
| `count()` | Returns the number of times a specified value occurs in a tuple |
| `index()` | Searches the tuple for a specified value and returns the position of where it was found |

You'll notice that all of the `list` methods that are used to modify a list are not available for `tuples`. This is because `tuples` are immutable.

Let's take `album_1` and try to add the band name `The Beatles`.

In [128]:
album_1 = ("Sgt. Pepper's Lonely Hearts Club Band", 1967)
print(album_1)

("Sgt. Pepper's Lonely Hearts Club Band", 1967)

Let's try using the `append()` method.

In [129]:
album_1.append('The Beatles')

AttributeError: 'tuple' object has no attribute 'append'

So if I cannot use `append()` or `extend()`, how do we add an element to the end of a tuple?

In [130]:
list1 = ['apples', 'bananas', 'oranges']
list2 = ['pickles', 'pumpkins']
print(list1)
print(list2)

['apples', 'bananas', 'oranges']
['pickles', 'pumpkins']

In [131]:
list1.extend(list2)
print(list1)

['apples', 'bananas', 'oranges', 'pickles', 'pumpkins']

Because we can't modify `tuples`, we'll need to `add` (`concatenate`) two `tuples` to create a new one.

In [132]:
tuple1 = ('apples', 'bananas', 'oranges')
tuple2 = ('pickles', 'pumpkins')
print(tuple1)
print(tuple2)

('apples', 'bananas', 'oranges')
('pickles', 'pumpkins')

Let's add these `tuples` together to create a new `tuple`.

In [133]:
tuple3 = tuple1 + tuple2
print(tuple3)

('apples', 'bananas', 'oranges', 'pickles', 'pumpkins')

Let's write a more compact version of this code using `Assignment Operators`.

In [134]:
tuple1 = ('apples', 'bananas', 'oranges')
tuple2 = ('pickles', 'pumpkins')

print(id(tuple1), tuple1)

tuple1 += tuple2
print(id(tuple1), tuple1)

2923809000088 ('apples', 'bananas', 'oranges')
2923803728296 ('apples', 'bananas', 'oranges', 'pickles', 'pumpkins')

We are not adding to `tuple1`. We are concatenating `tuple1` and `tuple2` and assigning the output to a new variable called `tuple1`.

In [135]:
tuple1 = ('apples', 'bananas', 'oranges')
tuple2 = ('pickles', 'pumpkins')

print(id(tuple1), tuple1)

tuple1 = tuple1 + tuple2
print(id(tuple1), tuple1)

2923824063816 ('apples', 'bananas', 'oranges')
2923803728296 ('apples', 'bananas', 'oranges', 'pickles', 'pumpkins')

### Nested Tuples and Immutability
Tuples can be nested and if the element of a tuple is mutable, it can be changed.

In [136]:
life = (['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])
print(life)

(['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])

#### Will this work?

In [137]:
life[0] = ['Canada', 80.0]

TypeError: 'tuple' object does not support item assignment

Here we have a tuple of lists. We can't change the tuple elements. But we can change the list elements that are inside because lists are mutable.

In [138]:
life = (['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])
print(life)

(['Canada', 76.5], ['United States', 75.5], ['Mexico', 72.0])

In [139]:
print('tuple id:', id(life))
print('list1 id:', id(life[0]))
print('list2 id:', id(life[1]))
print('list3 id:', id(life[2]))

tuple id: 2923824063816
list1 id: 2923838675336
list2 id: 2923838851272
list3 id: 2923839084808

#### Will this work?

In [140]:
life[0][1] = 80.0
print(life)

(['Canada', 80.0], ['United States', 75.5], ['Mexico', 72.0])

Immutable means that the item reference addresses contained in a tuple cannot be changed after the tuple has been created.

In [141]:
print('tuple id:', id(life))
print('list1 id:', id(life[0]))
print('list2 id:', id(life[1]))
print('list3 id:', id(life[2]))

tuple id: 2923824063816
list1 id: 2923838675336
list2 id: 2923838851272
list3 id: 2923839084808

<a id='section3'></a>
## 3. Beakout Session 1
Complete the following exercises.

#### Exercise 1
Use a range of indexes to print the `third`, `fourth`, and `fifth` item in the tuple.

In [ ]:
fruits = ("apple", "banana", "cherry", "orange", 
          "kiwi", "melon", "mango")
...

#### Exercise 2
Use negative indexing to print the second last item in the tuple.

In [ ]:
fruits = ("apple", "banana", "cherry")
...

#### Exercise 3
Create a new variable called `fruits_rev` and assign the reverse of `fruits` to it. You answer should be:
```python
('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')
```

In [ ]:
fruits = ("apple", "banana", "cherry", "orange", 
          "kiwi", "melon", "mango")
...

#### Exercise 4
Create a new `tuple` called `shopping_list` and assign to it the second, third and fourth items of `fruits` and the last 3 items of `vegetables` in the order they occur in `vegetables`.

In [ ]:
fruits = ("apple", "banana", "cherry", "orange", 
          "kiwi", "melon", "mango")
vegetables = ("Potatoes", "Broccoli", "Beets", "Eggplant")
...

<a id='section4'></a>
## 4. Unpacking Tuples
Python has a very nice tuple assignment feature that allows you to, essentially, assign multiple variables at once.

In [142]:
x = 4.2
y = 0.1
z = 4.5
print(x)
print(y)
print(z)

4.2
0.1
4.5

Remember, the parentheses are optional but recommended.

In [143]:
x, y, z = (4.2, 0.1, 4.5)
print(x)
print(y)
print(z)

4.2
0.1
4.5

Remember, we want to write `#cleancode` and the less code the better.

### Why Tuples: Reason 3
You can always unpack tuples successfully because you always know how many items are in them (Immutability).
#### Upacking a Tuple

In [144]:
data = (0.2, 1.3, 40.2)
x, y, z = data
print(x)
print(y)
print(z)

0.2
1.3
40.2

#### Unpacking a List

In [146]:
data = [0.2, 1.3, 40.2]
data.append(4.1)
x, y, z = data
print(x)
print(y)
print(z)

ValueError: too many values to unpack (expected 3)

You'll recall that one of the principles `#cleancode` is readability. Which one of these do you find more readable?
#### Without Unpacking

In [147]:
patient = ('Sebastian', 'Goodfellow', 1.8288, 72.5748)
print(patient[0], patient[1], "BMI:", patient[3] / patient[2]**2)

Sebastian Goodfellow BMI: 21.69968460307291

#### With Unpacking

In [148]:
first_name, last_name, height, weight = ('Sebastian', 'Goodfellow', 1.8288, 72.5748)
print(first_name, last_name, "BMI:", weight / height**2)

Sebastian Goodfellow BMI: 21.69968460307291

<a id='section5'></a>
## 5. Tuples as `return` Values
### Function `return` Example 1

In [149]:
import math

def area_circumference(radius): 
    """
    (float) -> float, float
    Return the circumference and area of a circle of a specified radius.
    """
    circumference = 2 * math.pi * radius 
    area = math.pi * radius * radius

#### What is `return`ed?

In [150]:
output = area_circumference(10)
print(output, type(output))

None <class 'NoneType'>

### Function `return` Example 2

In [151]:
import math

def area_circumference(radius): 
    """
    (float) -> float, float
    Return the circumference and area of a circle of a specified radius.
    """
    circumference = 2 * math.pi * radius 
    area = math.pi * radius * radius 
    
    return area

#### What is `return`ed?

In [152]:
output = area_circumference(10)
print(output, type(output))

314.1592653589793 <class 'float'>

### Function `return` Example 3

In [155]:
import math

def area_circumference(radius): 
    """
    (float) -> float, float
    Return the circumference and area of a circle of a specified radius.
    """
    circumference = 2 * math.pi * radius 
    area = math.pi * radius * radius 
    
    return circumference, area

#### What is `return`ed?

In [156]:
output = area_circumference(10)
print(output, type(output))

(62.83185307179586, 314.1592653589793) <class 'tuple'>

### Function `return` Example 4

In [157]:
import math

def area_circumference(radius): 
    """
    (float) -> float, float
    Return the circumference and area of a circle of a specified radius.
    """
    circumference = 2 * math.pi * radius 
    area = math.pi * radius * radius 
    
    return circumference, area

#### What is `return`ed?

In [158]:
circumference, area = area_circumference(10)
print(circumference, type(circumference))
print(area, type(area))

62.83185307179586 <class 'float'>
314.1592653589793 <class 'float'>

<a id='section6'></a>
## 6. Breakout Session 2
#### Step 1 - Choice of collection
Below are some of my favourit musical albums. The artist, album, and release year are presented in `tuples`.

In [ ]:
("The Beatles", "Sgt. Pepper's Lonely Hearts Club Band", 1967)
("Wintersleep", "Welcome to the Night Sky", 2007)
("The Tragically Hip", "In Between Evolution", 2004)
("Tom Petty", "Wildflowers", 1994)
("The Traveling Wilburys", "Traveling Wilburys Vol. 1", 1988)
("George Harrison", "All Things Must Pass", 1970)
("Queen", "A Night At The Opera", 1975)

In the cell below, place these tuples in a `container` and assign it to a variable called `albums`. You need to decide if a `list` or `tuple` appropriate.

In [161]:
albums = [
    
    ("The Beatles", "Sgt. Pepper's Lonely Hearts Club Band", 1967),
("Wintersleep", "Welcome to the Night Sky", 2007),
("The Tragically Hip", "In Between Evolution", 2004),
("Tom Petty", "Wildflowers", 1994),
("The Traveling Wilburys", "Traveling Wilburys Vol. 1", 1988),
("George Harrison", "All Things Must Pass", 1970),
("Queen", "A Night At The Opera", 1975)
    
]

In the cell below, explain the reason for your choice.

I am choosing a .... because ...

#### Step 2 - Print album information
Fill in the missing code below. The code should loop through the albums and print the artist, album, and year. You must use `tuple` unpacking.

In [164]:
for artist, album, year in albums:
    print('Artist:', artist)
    print('Album:', album)
    print('Year:', year, '\n')

Artist: The Beatles
Album: Sgt. Pepper's Lonely Hearts Club Band
Year: 1967

Artist: Wintersleep
Album: Welcome to the Night Sky
Year: 2007

Artist: The Tragically Hip
Album: In Between Evolution
Year: 2004

Artist: Tom Petty
Album: Wildflowers
Year: 1994

Artist: The Traveling Wilburys
Album: Traveling Wilburys Vol. 1
Year: 1988

Artist: George Harrison
Album: All Things Must Pass
Year: 1970

Artist: Queen
Album: A Night At The Opera
Year: 1975

<a id='section7'></a>
## 7. Sets
Sets are great for performing the mathematical operations: union, intersection, and difference. These are all implemented as methods shown in the following table. 

Operation	| Equivalent	| Result
------------|:---------------:|-------
len(s) |N/A | number of elements in set s (cardinality)
x in s |N/A | test x for membership in s
x not in s |N/A|test x for non-membership in s
s.issubset(t) |	s <= t|test whether every element in s is in t
s.issuperset(t)|s >= t|test whether every element in t is in s
s.union(t)|	s &#124; t| new set with elements from both s and t
s.intersection(t) |s & t|new set with elements common to s and t
s.difference(t)|s - t|new set with elements in s but not in t
s.symmetric_difference(t)|s ^ t|new set with elements in either s or t but not both
s.copy()|N/A|new set with a copy of s

Let's create the two `sets` of North American and European cars from the slides.

In [165]:
north_america = {'Mercedes', 'Tesla', 'Chrysler', 'Dodge', 'BMW', 'Ford'}
europe = {'Mercedes', 'Tesla', 'Renault', 'Peugeot', 'BMW', 'Ford'}

#### `sets` are unordered
As you'll recall, `sets` are unordered as opposed to `tuples` and `lists`.

In [166]:
print(north_america)

{'Tesla', 'Ford', 'BMW', 'Mercedes', 'Chrysler', 'Dodge'}

In [167]:
print(europe)

{'Tesla', 'Ford', 'Renault', 'BMW', 'Peugeot', 'Mercedes'}

So, `sets` are unordered, but can we index or slice them?

In [168]:
europe[0]

TypeError: 'set' object is not subscriptable

But if we conver to a list, we can because lists are ordered.

In [169]:
list(europe)[0]

'Tesla'

How about the order that you insert elements into a list?

In [171]:
animals1 = ['bird', 'goat', 'tiger']
animals2 = ['goat', 'tiger', 'bird']

animals1 == animals2

False

#### Membership

In [172]:
'Nissan' in europe

False

In [173]:
'Tesla' in europe

True

#### Union

In [174]:
north_america.union(europe)

{'BMW', 'Chrysler', 'Dodge', 'Ford', 'Mercedes', 'Peugeot', 'Renault', 'Tesla'}

In [175]:
europe.union(north_america)

{'BMW', 'Chrysler', 'Dodge', 'Ford', 'Mercedes', 'Peugeot', 'Renault', 'Tesla'}

In [176]:
north_america | europe

{'BMW', 'Chrysler', 'Dodge', 'Ford', 'Mercedes', 'Peugeot', 'Renault', 'Tesla'}

In [177]:
europe | north_america

{'BMW', 'Chrysler', 'Dodge', 'Ford', 'Mercedes', 'Peugeot', 'Renault', 'Tesla'}

#### Intersection

In [178]:
north_america.intersection(europe)

{'BMW', 'Ford', 'Mercedes', 'Tesla'}

In [179]:
europe.intersection(north_america)

{'BMW', 'Ford', 'Mercedes', 'Tesla'}

In [180]:
north_america & europe

{'BMW', 'Ford', 'Mercedes', 'Tesla'}

In [181]:
europe & north_america

{'BMW', 'Ford', 'Mercedes', 'Tesla'}

#### `sets` are iterable

In [182]:
north_america = {'Mercedes', 'Tesla', 'Chrysler', 'Dodge', 'BMW', 'Ford'}

for car in north_america:
    print(car)

Tesla
Ford
BMW
Mercedes
Chrysler
Dodge

### Practical Applications of `sets`
We want to create a collection of unique birds from the observations made during a birding (bird watching) trip.

In [183]:
observations = ("canada goose", "canada goose", "long-tailed jaeger",
                "canada goose", "snow goose", "canada goose", 
                "long-tailed jaeger", "canada goose", "northern fulmar")

I could loop through the `tuple` and collect all the unique birds.

In [184]:
birds = []
for observation in observations:
    if observation not in birds:
        birds.append(observation)
        
print(birds)

['canada goose', 'long-tailed jaeger', 'snow goose', 'northern fulmar']

In [185]:
birds = set(observations)
print(birds)

{'long-tailed jaeger', 'snow goose', 'canada goose', 'northern fulmar'}